@model TestProject.Data.Models.Cart
@{
    ViewData["Title"] = "CartIndex";
}

<div class="container">
    @foreach(var el in Model.ListItems)
    {
        <div class="row">
            <p>@el.Car.Name</p>
            <p>@el.Car.Price.ToString("c")</p>
        </div>
    }
    <a asp-controller="Order" asp-action="OrderIndex" class="btn btn-danger">Buy</a>
</div>

